/* 
 * General
 */



body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

.ocr_bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%
}
/* 
 * Header
 */

header {
  background-color: #2D323E !important;
  height: 60px;
  color: #ffffff !important;
}

header h1 {
  color: #ffffff !important;
}

.container-fluid {
  margin: 10px !important;
}

header img {
  height: 40px;
  float:left;
  margin-top: 10px;
}


.title {
  float: left;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 20px 10px;
}

.title a, .title a:visited {
  color: #3a3a3a;
}

.ocr_head{
  float: left;
  width: 40%;
}
.ocr_head_button{
  float: right;
  margin-left: 1%;
}
.ocr_body{
  clear: both;
}

.upload-image-thumb {
  max-width: 400px;
  margin: 20px;
}
.image-container {
  margin: 0px auto;
}

* {
  box-sizing: border-box;
  }
  
  *:focus {
  outline: none;
  }
  
  .login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
  }
  
  .app-title {
  text-align: center;
  color: #777;
  }
  
  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  }
  
  input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
  }
  
  input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
  }
  
  .btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  }
  
  .btn:hover {
  background-color: #2980B9;
  }
  
  .login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
  }

  #loginPopUp {
    position: absolute;
    width: 300px !important;
    height: 200px !important;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
  }

