{% extends "layout.html" %} {% block content %}

<p id="count" style="display: none">0</p>
<button id="checkStatus" onclick="server.increment()" style="display: none">
  0
</button>
<div id="user" style="display: none">{{user}}</div>
<div class="ocr_head">
  <h2>Camera Calibration</h2>
</div>
 
<div class="ocr_content">
  <div class="ocr_body">
    <img
      class="ocr_bg"
      class="center"
      src="{{ url_for('video_feed_cali', user=user) }}"
    />
  </div>
  <div class="ocr_value">
    <ul>
      <li>
        <b>Background:</b>
        <span id="bgp_"><span id="on_bgp"></span></span></li>
      <li>
        <b>Label Found:</b>
        <span id="label_">
          <span id="on_status"></span>
          <span id="off_status"></span>
        </span>
      </li>
      <li><b>Dc Status</b> <span id="dc_"></span></li>
    </ul>
    <audio id="mySong" src=""></audio>
  </div>
</div>
{% endblock %}
