{% extends "layout.html" %}

{% block content %}
<div id="centerDiv">
  <div class="upload-form">
    <span id="username" style="display: none;">{{user}}</span>
    <form action="/video" method="POST" name="receiving">
      <div class="form-group">
        <label   for="company">Customer</label>
        <div >
          <select id="customer" name="customer" class="form-control">
            <option>SELECT</option>
            {% for col in customers %}
            <option value="{{ col['1'] }}">{{ col['2'] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label  for="company">Model</label>
        <div >
          <select id="model" name="model" class="form-control">
            <option>SELECT</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6 col-md-4">
          <input type="submit" class="btn btn-primary" />
        </div>
    </form>
    </form>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function () {
    if (localStorage.getItem("username") == "") {
      window.location = "/";
    }
  }, 3000);
  localStorage.setItem("username", document.getElementById("username").innerHTML);
  $(document).ready(function () {
    $("select#customer").change(function () {
      $('#model').find('option:not(:first)').remove();
      var customerId = $(this).find('option:selected').val();
      $('#overlay').fadeIn()
      $.ajax({
        type: 'GET',
        url: "api/customer/models/" + customerId,
        data: {},
        contentType: 'application/json',
        dataType: 'json',
        success: function (response) {
          $.each(response['results'], function (key, value) {
            $("#model").append($('<option>', {
              value: value['1'],
              text: value['2'],
              'data-mark': value['1']
            }));
          });
          $('#overlay').fadeOut()
        }
      });
    });
  });
</script>
{% endblock %}